/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #7674e4;
}
p{
    line-height: 1.5;
    font-size: 1.5rem;
}